@import "tailwindcss";

:root {
  --background: #2B2325;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-jp);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2B2325;
    --foreground: #ffffff;
  }
}
body {
  background: var(--background);
  background-image: url('/background.png');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 280%;
  color: var(--foreground);
  font-family: var(--font-noto-sans-jp), sans-serif;
}

@media (min-width: 768px) {
  body {
    background-size: 80%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in {
  animation: fadeIn 0.8s ease-out forwards;
}
